@charset "UTF-8";

.carousel {
	height: 655px;
	width: 513px;
}

.carousel-control.left, .carousel-control.right {
	background-image: none;
}

.imgSize {
	height: 60px;
	width: 48px;
}

.imgSize img {
	width: 100%;
	height: 100%;
}

ol li {
	list-style-type: none;
}