@charset "UTF-8";

.black_font {
	color: black;
	font-color: black;
}

.grey_font {
	color: grey;
	font-color: grey;
}

.big_menu {
	font-size: 20px;
}

li.dropdown:hover>a, li.dropdown:hover>a:hover, li.dropdown:hover>a:focus {
	background-color: rgb(231, 231, 231);
	color: rgb(85, 85, 85);
}

li.dropdown:hover>.dropdown-menu {
	display: block;
}

.dropdown-menu {
	border-top: 2px solid black;
}

.navbar-nav li a {
	line-height: 38px;
	height: 35px;
	padding-top: 0;
}

.navbar-nav li {
	background-color: white;
}

.nav>li>a:hover {
	background-color: white;
	text-decoration: underline;
}

.page-header {
	margin-bottom: 5px;
}

.user {
	height: 30px;
}

#language_div {
	margin-top: 45px;
}

input, select, button:focus {
	outline: none !important;
	box-shadow: none !important;
	border: 1px solid #ccc !important;
}

div, input, button, a, select {
	border-radius: 0px !important;
}

.foot_height {
	height: 200px;
}
