@charset "UTF-8";

.black_font {
	color: black;
	font-color: black;
}

.grey_font {
	color: grey;
	font-color: grey;
}

.big_menu {
	font-size: 20px;
}

li.dropdown:hover>a, li.dropdown:hover>a:hover, li.dropdown:hover>a:focus {
	background-color: rgb(231, 231, 231);
	color: rgb(85, 85, 85);
}

li.dropdown:hover>.dropdown-menu {
	display: block;
}

.dropdown-menu {
	border-top: 2px solid black;
}

.navbar-nav li a {
	line-height: 38px;
	height: 35px;
	padding-top: 0;
}

.navbar-nav li {
	background-color: white;
}

.nav>li>a:hover {
	background-color: white;
	text-decoration: underline;
}

.page-header {
	margin-bottom: 5px;
}

.user {
	height: 30px;
}

#search_form {
	margin-top: 30px;
}

#custom-search-input button {
	margin: 2px 0 0 0;
	background: none;
	border: 0;
	color: #666666;
	padding: 0 8px 0 10px;
	border-left: solid 1px #ccc;
}

#custom-search-input input {
	border: 0px !important;
	margin: 0 3px;
	width: 200px;
}

input, select, button:focus {
	outline: none !important;
	box-shadow: none !important;
	border: 1px solid #ccc !important;
}

#custom-search-input {
	padding: 5px;
	border: solid 1px #E4E4E4;
	background-color: #fff;
}

div, input, button, a, select {
	border-radius: 0px !important;
}

.foot_height {
	height: 200px;
}

.pagination li a {
	color: black;
	border: 1px solid black;
	margin-right: 5px;
}

.pagination li a:hover {
	color: black;
	background-color: white;
	text-decoration: underline;
	border: 1px solid black;
}

.pagination li.prePointLi a, .pagination li.afterPointLi a {
	border: 0px;
}

.pagination li.prePointLi a:hover, .pagination li.afterPointLi a:hover {
	text-decoration: none;
}

.pagination li.active a {
	background-color: grey;
	border-color: black;
}

.pagination li.active a:hover {
	background-color: grey;
	border-color: black;
	text-decoration: none;
}

#language_div {
	margin-top: 45px;
}

